

<div class="patient-show">
    <div class="patient-card">
        <img src="<%= current_patient.avatar %>" alt="patient picture">

        <h2>
            Welcome To Prismatic Health, <br> 
            <%= current_patient.first_name + " " + current_patient.last_name%> 
            <%= link_to "edit", edit_patient_registration_path(current_patient.id), class: "button" %>
        </h2>
    </div>

    <div class="patient-appointments">
        <% current_patient.appointments.each() do |app|  %>
            <div class="patient-appointments__card">
                <h3 class="app-name"> <%= app.name %> </h3>
                <p>
                    <%= app.date %>
                    <%= link_to "info", patient_appointment_path(current_patient.id, app.id), class: "link" %>
                </p>
            </div>
        <% end %>
    </div>
</div>



