<img src="<%= current_patient.avatar %>" alt="">

<h2>Welcome To Prismatic Health, <%= current_patient.first_name %> </h2>

<br>

<h3>Appointments</h3>

<hr>

<% current_patient.appointments.each() do |app|  %>
    <h3> <%= app.name %> </h3>
    <p>Date: <%= app.date %></p>
    <%= link_to "see more", patient_appointment_path(current_patient.id, app.id) %>

    <hr>
<% end %>



