<div class="doctor-show">
    <div class="doctor-card">
        <img src=" <%= @doctor.avatar %> " alt="">
        <h2><%= "#{@doctor.first_name} #{@doctor.last_name}" %> M.D. </h2>
        <h3>Located At: <%= @doctor.institution.name %> </h3>
        <h3>Current Patients: <%= @doctor.patients.length %> </h3>
        <% if current_doctor == @doctor %>
            <%= link_to "edit", edit_doctor_registration_path(current_doctor.id), class: "button" %>
            <%= link_to "delete", doctor_path(current_doctor.id), method: :delete, class: "button red" %>
        <% end %>
    </div>



    <% if current_doctor %>
        <div class="doctor-appointments">
            <% current_doctor.appointments.each() do |app| %>
                <div class="doctor-appointments__card">
                    <h3 class="app-name"> <%= app.name %> </h3>
                    <p> 
                        <%= app.date %> 
                        <%= link_to "info", "/doctors/#{current_doctor.id}/appointments/#{app.id}", class: "link" %>
                    </p>
                    
                </div>
            <% end %>
        </div>
    <% end %>
</div>

