
<h2> <%= @appointment.name %> </h2>
<p>Location: <%= @appointment.institution.name %>, <%= @appointment.institution.address %> </p>
<p>Date: <%= @appointment.date %></p>
<p>Time: <%= @appointment.time %></p>
<p>Patient: <%= "#{@appointment.patient.first_name} #{@appointment.patient.last_name}" %> </p>
<p>Doctor: <%= link_to "#{@appointment.doctor.first_name} #{@appointment.doctor.last_name}", doctor_path(@appointment.doctor.id) %> </p>
<div class="app__buttons">
    <a href="">Update Information at 1-802-776-6000</a>
    <%= link_to "Back", doctor_path(current_doctor.id) %>
</div>