<h1>New Appointment</h1>

<%= form_tag("/patients/#{current_patient.id}/appointments",local: true, method: :post) do %>



    <% if @selected_institution %>

        <div class="input">
            <%= label_tag :name, "Type:  " %>
            <%= select_tag :name, options_for_select(["General Checkup", "Therapy", "Surgical Procedure"], @name),  required: true %>
        </div>

        <div class="input">
            <%= label_tag :date, "Date:  " %>
            <%= text_field_tag :date, nil ,placeholder: "ex Jan 14th 2020", value: @date , required: true %>
        </div>
        
        <div class="input">
            <%= label_tag :time, "Time:  " %>
            <%= text_field_tag :time, nil ,placeholder: "14:00", value: @time,required: true %>
        </div>

        <p>Location: <%= @selected_institution.name %> </p>
          <div class="input" style=" display: none; ">
            <%= label_tag :institution_id, "Location:  " %>
            <%= select_tag :institution_id, options_for_select([@selected_institution.id]),  required: true %>
        </div>

        <div class="input">
            <%= label_tag :doctor_id, "Doctors:  " %>
            <%= select_tag :doctor_id, options_for_select( @doctors.map() {|doctor|
                ["#{doctor.first_name} #{doctor.last_name}", doctor.id]
            }) , required: true%>   
        </div>


        <%= submit_tag "Submit" %>
    <% else %>
        <div class="input">
            <%= label_tag :name, "Type:  " %>
            <%= select_tag :name, options_for_select(["General Checkup", "Therapy", "Surgical Procedure"]), required: true %>
        </div>

        <div class="input">
            <%= label_tag :date, "Date:  " %>
            <%= text_field_tag :date, nil, placeholder: "ex Jan 14th 2020", required: true %>
        </div>
        
        <div class="input">
            <%= label_tag :time, "Time:  " %>
            <%= text_field_tag :time, nil ,placeholder: "14:00", required: true %>
        </div>

        <div class="input">
            <%= label_tag :institution_id, "Location:  " %>
            <%= select_tag :institution_id, options_for_select( @institutions.map() {|inst|
                [inst.name, inst.id]
            }) , required: true %>
        </div>

            <%= submit_tag "Find Doctors At This Location" %>
    <% end %>      


<% end %>